body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #white;
    color: #white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}



h2 {
    font-size: 2em;
    color: #0366d6;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.questao {
    padding: 3%;
}

.questao:first-child {
    margin-top: 25px;

}



.qimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

img {
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    height: 80%;
    margin: 10px;

}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f9f4;
    margin-top: 10px;
    text-align: center;

}

select:hover {
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 0.5);
}


.Final {
    display: flex;
    justify-content: end;
    align-items: end;
}

#btdstart, button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    color: #ffffff;
    background-color: #28a745;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s;
}

#btdstart:hover, button:hover{
    background-color: #218838;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

a:hover {
    color: black;
}

@media (max-width: 1800px) {



    .qimg {
        display: flex;
        flex-direction: column;

    }

    img {
        margin-top: 10px;
        width: 75%;
        height: 75%;
    }
}




/* pop.css */


.popup-content p {
    font-size: x-large;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    height: auto;


}

.top-nav p {
    font-size: 30px;
    margin-left: 10px;
   
}

.top-nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    position: fixed;
    top: 0px;
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: #0366d6;
    color: #FFF;
    height: 50px;
    padding: 1em;
}
