body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



main {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    width: 100%;
}

.questao {
    padding: 3%;
    /* border: 2px solid black;
    border-radius: 20px;
    background-color:  #e2e2e2; */
}





.qimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

img {
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    height: 80%;
    margin: 10px;
   
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f9f4;
    margin-top: 10px;
    text-align: center;
   
}

select:hover{
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 0.5);
}


.Final{
    display: flex;
    justify-content: end;
    align-items: end;
}



@media (max-width: 1800px) {
    
    
    
    .qimg {
        display: flex;
        flex-direction: column;

    }

    img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
}




/* pop.css */
 

.popup-content p{
 font-size: x-large;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    


}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} 

